@reference "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-2 focus:ring-blue-500;
  }
  .btn-secondary{
    @apply  bg-gray-200 text-gray-900 hover:bg-gray-300 focus:ring-gray-500
  }
  .btn-danger{
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-500
  }
  .btn-ghost{
    @apply bg-transparent text-gray-700 hover:bg-gray-100 focus:ring-gray-500
  }
}


@utility btn-sm {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
}

@utility btn-md {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

@utility btn-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.125rem;
}
